{% extends "_base.html" %}

{% block content %}

    <div class="container min-h-screen bg-black px-28 py-5 relative">
        <nav class="flex items-center">
            <ul class="flex-1 text-center">
                <li class="list-none inline-block px-5"><a href="#" class="no-underline text-white px-2">Home</a></li>
                <li class="list-none inline-block px-5"><a href="http://127.0.0.1:8000/about/" class="no-underline text-white px-2">About</a></li>
                <li class="list-none inline-block px-5"><a href="http://127.0.0.1:8000/contact/" class="no-underline text-white px-2">Contact</a></li>
                <li class="list-none inline-block px-5"><a href="http://127.0.0.1:8000/signup/" class="no-underline text-white px-2">Sign Up</a></li>
                <li class="list-none inline-block px-5"><a href="#" class="no-underline text-white px-2">logout</a></li>

            </ul>
        </nav>
        <div class="text-white mt-48 max-w-xl">
            <h1 class="text-6xl font-semibold leading-normal">Sign Up<br> in <span class="font-light">5 minutes</span></h1>
            <p>Welcome to Blogs app where you can share your ideas</p>

            <div class="mt-10">
                <a href="#" class="bg-yellow-300 rounded-3xl py-3 px-8 font-medium inline-block mr-4 hover:bg-transparent hover:border-yellow-300 hover:text-white duration-300 hover:border border border-transparent">Create Now</a></li>
                <a href="#">Download app<span class="text-lg inline-block rotate-90">&#10148;</span></a></li>
            </div>
 
        </div>    
        <img src=""    

    </div>
{% endblock content %}
